@import "tailwindcss";

:root {
  --background: #fafcfb;
  --foreground: #171717;
  --color-accent: #00573f;
  --color-gridline: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--color-accent);
  --color-gridline: var(--color-gridline);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
